# Игнорирование временных файлов
*.tmp
*.bak
*.swp

# Игнорирование бинарных файлов и исполняемых файлов
*.exe
*.dll
*.so

# Игнорирование файлов конфигурации VS Code
.vscode/
.project

# Игнорирование файлов проекта Go
*.test
*.db

# Игнорирование файлов логов
/logs/

# Игнорирование временных файлов и кэша
.cache/
.tmp/